{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
	<h1 class="text-center">About Us</h1>
	<br>
	<div class="row">
		<div class="col-md-1 d-flex align-items-center"></div>
		<div class="col-md-10 d-flex align-items-center">
			<div class="description-container">
				<br>
				<h2>Welcome to the Biomedical Company and Devices Application!</h2>

				<p>
					Our platform is designed to provide comprehensive information about biomedical companies and the
					advanced
					medical
					devices they offer. We aim to connect healthcare providers with essential technologies by offering
					detailed
					insights into the devices used in critical medical care.
				</p>

				<h3>Our Mission</h3>
				<p>
					We strive to enhance the transparency and accessibility of medical device information, helping
					hospitals and
					healthcare facilities make informed decisions about the tools they need to improve patient care.
				</p>
			</div>
		</div>
	</div>
</div>

<br />
<br />
<br />
{% endblock content %}