{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Welcome to the Dashboard, {{ current_user.user_name }}!</h1>
    <p class="text-center">Here you can manage departments, devices, and models.</p>

    <div class="text-right mb-3">
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
    </div>
    
    <div class="row mt-4">
        <!-- Departments Section -->
        <div class="col-md-4">
            <h2>Departments</h2>
            <ul class="list-group">
                {% for department in departments %}
                    <li class="list-group-item">
                        <a href="{{ url_for('show_department', id = department.id) }}"><h5 class="mb-1">{{ department.department_name }}</h5></a>
                        <p class="mb-1">{{ department.description | safe }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Devices Section -->
        <div class="col-md-4">
            <h2>Devices</h2>
            <ul class="list-group">
                {% for device in devices %}
                    <li class="list-group-item">
                        <h5 class="mb-1">{{ device.device_name }}</h5>
                        <p class="mb-1">{{ device.description | safe}}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Models Section -->
        <div class="col-md-4">
            <h2>Models</h2>
            <ul class="list-group">
                {% for model in models %}
                    <li class="list-group-item">
                        <h5 class="mb-1">{{ model.model_name }}</h5>
                        <p class="mb-1">{{ model.description | safe}}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}