{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
	<div class="bg-light cont p-4">
		<div class="container bg-light">
			<a href="{{ url_for('devices') }}" class="text-decoration-none text-dark">
				<h1 class="text-center mt-4">Devices</h1>
			</a>
			{% if devices %}
			<div class="row">
				{% for device in devices %}
					{% if device.models %}
						{% set image_filename = device.models[0].image_filename %}
					{% endif %}
				<div class="col-md-4">
					<a href="{{ url_for('show_device', id = device.id)}}" class="text-decoration-none">
						<div class="card mt-4 shadow-lg mycard-hover">
							<img src="{{url_for('static', filename='images/' + image_filename)}}" class="card-img-top"
								alt="Image Title">
							<div class="card-body">
								<h5 class="card-title text-center">{{ device.device_name }}</h5>
							</div>
						</div>
					</a>
					{% if current_user.is_authenticated %}
					<a href="{{ url_for('update_device', id = device.id)}}"><button type="button"
							class="btn btn-outline-warning mt-4">Update</button></a>
					<a href="{{ url_for('delete_device', id = device.id)}}"><button type="button"
							class="btn btn-outline-danger mt-4">Delete</button></a>
					{% endif %}
				</div>
				{% endfor %}
			</div>
			{% else%}
			<br>
			<h2 class="text center">There is no Devices to show!</h2>
			{% endif %}
			{% if current_user.is_authenticated %}
			<a href="{{ url_for('add_device') }}"><button type="button" class="btn btn-info mt-4">Add New
					Device</button></a>
			{% endif %}
		</div>
	</div>
</div>
<br />
<br />
<br />
<br />
<br />
{% endblock content %}